@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url("https://use.typekit.net/yvy5tmy.css");
@import "tailwindcss";

:root {
  --letter-spacing-none: 0;
  --letter-spacing-s: -0.5px;
  --letter-spacing-m: 1px;
  --letter-spacing-l: 2px;

  /* Spacing */
  --spacing-2xs: 2px;
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 24px;
  --spacing-2xl: 32px;
  --spacing-3xl: 40px;
  --spacing-4xl: 48px;
  --spacing-5xl: 56px;
  --spacing-6xl: 64px;
  --spacing-7xl: 72px;
  --spacing-8xl: 80px;
  --spacing-9xl: 88px;
  --spacing-10xl: 96px;
  --spacing-11xl: 104px;
  --spacing-12xl: 112px;

  /* Border Radius */
  --radius-xs: 4px;
  --radius-s: 8px;
  --radius-m: 12px;
  --radius-lg: 16px;
  --radius-pill: 999px;
  --radius-circle: 50%;

  /* Breakpoints */
  --breakpoint-xl: 1440px;
  --breakpoint-lg: 1024px;
  --breakpoint-md: 768px;
  --breakpoint-sm: 393px;

  --darkblack: #0C0000;
  --lightblack: #474646;
  --white: #fdfffe;
  --gray: #d9d9d9;
  --green: #64DBBE;
  --red: #f16762;
  
}

body {
  background-color: white;
}

