@import url("https://use.typekit.net/zpt8xte.css");
@import "tailwindcss";

:root {
  --letter-spacing-none: 0;
  --letter-spacing-s: -0.5px;
  --letter-spacing-m: 1px;
  --letter-spacing-l: 2px;

  /* Spacing */
  --spacing-2xs: 2px;
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 24px;
  --spacing-2xl: 32px;
  --spacing-3xl: 40px;
  --spacing-4xl: 48px;
  --spacing-5xl: 56px;
  --spacing-6xl: 64px;
  --spacing-7xl: 72px;
  --spacing-8xl: 80px;
  --spacing-9xl: 88px;
  --spacing-10xl: 96px;
  --spacing-11xl: 104px;
  --spacing-12xl: 112px;

  /* Border Radius */
  --radius-xs: 4px;
  --radius-s: 8px;
  --radius-m: 12px;
  --radius-lg: 16px;
  --radius-pill: 999px;
  --radius-circle: 50%;

  /* Breakpoints */
  --breakpoint-xl: 1440px;
  --breakpoint-lg: 1024px;
  --breakpoint-md: 768px;
  --breakpoint-sm: 393px;

  --darkblack: #131313;
  --lightblack: #474646;
  --white: #fdfffe;
  --gray: #d9d9d9;
  --green: #64DBBE;
  --red: #f16762;

  /* Fonts */
  --font-sofia: "sofia-pro-comp", sans-serif;

}

body {
  background-color: var(--black);
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  font-family: var(--font-sofia);
}

body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

html {
  background-color: var(--black);
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  font-family: var(--font-sofia);
}

html::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

@keyframes slideInMenu {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slideOutMenu {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-slideInMenu {
  animation: slideInMenu 1000ms ease-in-out forwards;
}

.animate-slideOutMenu {
  animation: slideOutMenu 1000ms ease-in-out forwards;
}

.animate-slideInMenuMobile {
  animation: slideInMenu 640ms ease-in-out forwards;
}

.animate-slideOutMenuMobile {
  animation: slideOutMenu 640ms ease-in-out forwards;
}

/* Button Styles */
.button {
  position: relative;
  overflow: hidden;
  border: 1px solid var(--lightblack);
  color: var(--lightblack);
  display: inline-flex;
  padding: var(--Spacing-L, 1rem);
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
  background: var(--white);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: border-color 600ms cubic-bezier(0.48, 0, 0.12, 1);
}

.button span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button span:last-child {
  color: var(--white);
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 24px;
  line-height: 24px;
}

.button:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--red);
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button:hover {
  border-color: var(--red);
}

.button:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

/* Button font size for tablet and mobile */
@media (max-width: 1024px) {
  .button {
    font-size: 20px;
    line-height: 20px;
  }

  .button span:last-child {
    height: 20px;
    line-height: 20px;
  }
}